# ---- Python / virtual env ----
.venv/
venv/
__pycache__/
*.pyc

# ---- Jupyter ----
.ipynb_checkpoints/

# ---- Data (DO NOT TRACK) ----
*.csv

# ---- Model outputs ----
*.pt
*.pth
*.h5
*.ckpt

# ---- OS ----
.DS_Store
